*{
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--heading);
  font-weight: 500;
}

h1, h2, h3{
  line-height: 4.8rem;
  padding: .8rem 0 1.6rem;
}

h4, h5, h6{
  padding: 2.4rem 0;
}

h1{
  font-size: 3.6rem;
}

h2{
  font-size: 3.2rem;
}

h3{
  font-size: 2.8rem;
}

h4{
  font-size: 2.0rem;
}

h5{
  font-size: 1.8rem;
}

h6{
  font-size: 1.6rem;
}

p{
  padding-bottom: 2.4rem;
}

form{
  padding: 2.4rem 0;
}

iframe {
  display: block;
  width: 100%;
}

pre,
code,
samp,
kbd{
  background-color: var(--yellow7);
  color: var(--indigo2);
  font-family: var(--monospace);
}

code,
samp,
kbd{
  border-radius: 2px;
  overflow-y: hidden;
  overflow-x: auto;
  padding: .4rem .4rem .2rem;
}

pre{
  border-radius: 2px;
  line-height: var(--line-height);
  overflow-y: hidden;
  overflow-x: auto;
  padding: 1.2rem 1rem;
  margin: 0 0 2.4rem;
}

pre code,
pre samp,
pre kbd{
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}

a:link{
  color: var(--link)
}

a:visited{
  color: var(--link--visited);
}

a:hover,
a:focus{
  color: var(--link--hover);
}

a:active{
  color: var(--link--active);
}

img,
video{
  max-width: 100%;
  display: table;
}

hr{
  height: 4.8rem;
  margin-bottom: 2.4rem;
  position: relative;
}

hr:before{
  background-color: var(--blue6);
  content: '';
  height: .4rem;
  position: absolute;
  top: 50%;
  width: 100%;
}

ol,
ul{
  margin-left: 2rem;
  padding: 0 0 2.4rem;
}

ol{
  list-style-type: decimal;
}

ol ol{
  padding-bottom: 0;
}

ul{
  list-style-type: disc;
}

ul ul{
  padding-bottom: 0;
}

dt{
  font-style: italic;
}
dd{
  padding-left: 2rem;
}

blockquote{
  margin: 0 0 2.4rem 1.2rem;
  border-left: .6rem solid var(--blue4);
  padding: 2.4rem 1.2rem;
}

blockquote p:last-child{
  padding-bottom: 0;
}


figure{
  margin: 0 auto;
  padding-bottom: 2.4rem;
}

figure img{
  display: table;
  margin: 0 auto;
}

small,
sub,
sup{
  font-size: var(--font-size--small);
  line-height: 1;
}

caption,
figcaption{
  font-size: var(--font-size--small);
  font-style: italic;
  text-align: center;
}

em,
cite,
i{
  font-style: italic;
}

strong,
var,
b{
  font-weight: bold;
}

q:before{
  content: "'";
}

q:after{
  content: "'";
}

q > q{
  font-style: italic;
}

dfn,
abbr{
  border-bottom: .1rem dotted var(--silver2);
  cursor: default;
}

abbr[title] {
  text-decoration: none;
}

table{
  border-radius: 2px;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 2.4rem;
  width: 100%;
}

table th{
  font-weight: 500;
  text-align: left;
}

table th,
table td{
  padding: 0 .6rem;
}

label{
  color: var(--silver3);
}

input,
label,
select,
button,
textarea
{
  display: block;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* remove yellow from chrome auto-fill background */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  color: var(--silver1);
  -webkit-text-fill-color: var(--silver1);
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
