.bingo-board {
  border-left: 1px solid #7d7d7e; }

.bingo-board .cell {
  width: 20%;
  border-right: 1px solid #7d7d7e;
  border-bottom: 1px solid #7d7d7e !important;
  font-size: 18px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1px;
  overflow: hidden; }

.bingo-board .cell:nth-child(-n+5) {
  border-top: 1px solid #7d7d7e; }

[data-day]:after {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  background-color: #D15017;
  color: #fff;
  content: attr(data-day);
  padding: 3px 5px; }

@media print {
  .mosaic-row[class*="stack"] > .cell {
    width: 100% !important; }
  .bingo-board {
    width: 6.5in; }
  .bingo-board .cell {
    width: 1.25in !important;
    height: 1.25in !important;
    display: block;
    float: left; } }
