/*
  1. General
*/

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

.sidebar a {
  text-decoration: none;
}

nav a {
  text-decoration: none;
}

/*
  1.1 Page Styles
*/

.page-header{
  padding: 4.8rem 0;
  text-align: center;
}

.page-header h1 {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 0;
}

@media (min-width: 55rem) {
  .page-header h1 {
    font-size: 9.6rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 11rem;
  }  
}

.page-meta {
  color: var(--silver3);
}

.page-navigation {
  display: grid;
  column-gap: var(--gutter-width);
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2.4rem;
}

.page-previous {
  text-align: right;
}

/*
  2: Layout
*/

body {
  margin: auto;
  max-width: initial;
}

footer {
  display: grid;
  column-gap: var(--gutter-width);
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
}

/*
  2.1: Header
*/

.site-header {
    background: var(--blue2);
}

.site-header a:link,
.site-header a:visited,
.site-header a:hover,
.site-header a:focus,
.site-header a:active {
  text-decoration: none;
  color: var(--nav-link-color, var(--white));
}


.site-title {
    --nav-link-color: var(--blue7);
    background: var(--blue3);
    line-height: var(--line-height);
    font-size: 2.4rem;
    padding: 1.2rem 2.4rem .8rem;
    transition: all 200ms ease;
    border-bottom: .4rem solid var(--blue4);
}

.site-title:hover,
.site-title:focus {
    --nav-link-color: var(--blue1);
    background: var(--blue4);
    border-color: var(--blue6);
}

.nav-item {
    border-bottom: .4rem solid;
    font-weight: bold;
    padding: 1.2rem 2.4rem .8rem;
    transition: all 200ms ease;
}

.nav-item:nth-child(1n) {
    --nav-link-color: var(--orange7);
    background: var(--orange3);
    border-color: var(--orange4);
}

.nav-item:nth-child(1n):hover,
.nav-item:nth-child(1n):focus {
    --nav-link-color: var(--orange2);
    background: var(--orange4);
    border-color: var(--orange6);
}

.nav-item:nth-child(2n) {
    --nav-link-color: var(--flame7);
    background: var(--flame3);
    border-color: var(--flame4);
}

.nav-item:nth-child(2n):hover,
.nav-item:nth-child(2n):focus {
    --nav-link-color: var(--flame2);
    background: var(--flame4);
    border-color: var(--flame6);
}

.nav-item:nth-child(3n) {
    --nav-link-color: var(--red7);
    background: var(--red3);
    border-color: var(--red4);
}

.nav-item:nth-child(3n):hover,
.nav-item:nth-child(3n):focus {
    --nav-link-color: var(--red2);
    background: var(--red4);
    border-color: var(--red6);
}

/*
  2.2 Sidebar
*/

.sidebar h4 {
  color: var(--silver3);
  text-transform: uppercase;
  padding: 0 0 1.2rem;
}

.sidebar ul {
  list-style-type: none;
  padding-bottom: 1.2rem;
  margin-left: 0;
}

@media (min-width: 55rem) {
  .sidebar h4 {
    font-size: var(--font-size);
  }
}

.sidebar a {
  display: inline-block;
  margin-bottom: 1.2rem;
}

/*
  2.3: Two Column Layout
*/

.layout-default {
  display: grid;
  grid-template-areas:  "title"
                        "main"
                        "sidebar";
  max-width: 85rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

@media (min-width: 55rem) {
  .layout-default {
    grid-template-areas: "sidebar main";
    grid-template-columns: minmax(20rem, auto) minmax(60vw, 65rem);
    column-gap: var(--gutter-width);
    row-gap: var(--gutter-width);
  }
}

.area-sidebar {
  grid-area: sidebar;
  padding: 2.4rem 0 4.8rem;
  text-align: center;
}

@media (min-width: 55rem) {
  .area-sidebar {
    text-align: right;
    padding-right: var(--gutter-width);
  }
}

.area-main {
  grid-area: main;
  width: 100%;
  max-width: 65rem;
  padding-top: 2.4rem;
}

@media (min-width: 55rem) {
  padding-bottom: 4.8rem;
}

/*
  3: Page Styles
*/

.page-header {
    color: var(--blue3);
    border-bottom: .4rem solid var(--blue2);
}

/*
  3: Post Lists
*/  

.snippet {
  margin-bottom: 2.4rem;
  padding-bottom: 2.4rem;
  position: relative;
}

.snippet:last-child {
  margin-bottom: 0;
}

.snippet::after {
  border-bottom: .4rem solid var(--blue6);
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.snippet:last-child::after {
  content: none;
}

/*
  4: Posts
*/

.post {
  margin-bottom: 4.8rem;
}

/*
  7: Archive
*/

/*
  8: Utilities
*/

.u-hidden {
    display: none;
}

.ta-right {
  text-align: right;
}
