{% extends '../includes/layout.html' %}

{% block title %}Tyler Childs | A Web Developer &amp; Designer{% endblock %}

{% block hero-text %}
  <h2>404</h2>
  <p>I'm not laughing at you,<br />that's just my face</p>
{% endblock %}
{% block content %}
	<div class="page" id="home">
		<h2>404 - File Not Found</h2>
		<p>You can go back to my <a href="/">Homepage</a> to click some other links or you can enjoy these other 404 messages.</p>

		<ul>
			<li>404 - File is in another castle</li>
			<li>404 - This is not the file you're looking for</li>
			<li>404 - Non shall pass</li>
			<li>404 - I am the danger</li>
		</ul>
		
	</div>
{% endblock %}