{% extends '../includes/layout.html' %}

{% block title %}Tyler Childs | A Web Developer &amp; Designer{% endblock %}

{% block content %}
	<div class="page" id="home">
		<h2>GitHub projects</h2>
		<div class="mosaic-row center stack-767 projects">
			<div class="cell cell-4">
				<h3>Base Stylesheet</h3>
				<p>A fairly standard base stylesheet with Meyer's Reset included.</p>

				<a href="/base-stylesheet/demo.html" class="button">View Demo</a>

				<div class="project-links">
					<a href="/base-stylesheet">View Project</a> |
					<a href="https://github.com/tylerchilds/base-stylesheet">View Source</a>
				</div>
			</div>
			<div class="cell cell-4">
				<h3>Mosaic CSS</h3>
				<p>Pure CSS grid system for vertical alignment and mixed fixed/fluid columns</p>

				<a href="/mosaic/demo.html" class="button">View Demo</a>

				<div class="project-links">
					<a href="/mosaic">View Project</a> |
					<a href="https://github.com/tylerchilds/mosaic">View Source</a>
				</div>
			</div>
			<div class="cell cell-4">
				<h3>Vanilla HTML</h3>
				<p>A proof of concept, minimal mark-up flexbox grid framework/system</p>

				<a href="/vanilla-html/demo.html" class="button">View Demo</a>

				<div class="project-links">
					<a href="/vanilla-html">View Project</a> |
					<a href="https://github.com/tylerchilds/vanilla-html">View Source</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}