.example-wrapper{
  margin-bottom: 2.4rem;

  .cell{
    color: $white;
    background-color: $primary-light;

    &:nth-child(even){
      background-color: $primary;
    }
  }
}

.alignment-grid{
	height: 4rem;
}

.grid-system{
	text-align: center;

  .mosaic-row{
    margin-bottom: 2.4rem;
  }
}

.example-wrapper{
  border:1px solid $gray5;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: -1px;
  overflow: visible;

  .example{
    padding: 4.8rem 1rem 2.4rem;
    position: relative;

    &:before{
      content:"example";
      text-transform: uppercase;
      font-size: $font-size--small;
      font-weight: 800;
      position: absolute;
      left:10px;
      top: 10px;
    }
  }

  .code{
    padding:0px 20px;
    border-top:1px solid $gray5;
    overflow: auto;
    display: none;
  }

  .code-toggle{
    padding: 8px;
    text-align: center;
    background-color: $gray6;
    cursor: pointer;

    &:hover{
      background-color: $gray5;
    }

    &:before{
      content: 'Show Code';
    }

    &.active:before{
      content: 'Hide Code';
    }
  }
}
