<footer class="wrapper">
  <div class="grid grid--medium">
    <div>
      <a href="https://www.linkedin.com/in/tylerchilds" target="_blank">LinkedIn</a> .
      <a href="https://www.twitter.com/tylerchilds" target="_blank">Twitter</a> .
      <a href="https://www.instagram.com/tylerchilds" target="_blank">Instagram</a> .
      <a href="https://www.github.com/tylerchilds" target="_blank">Github</a> .
      <a href="https://www.codeeval.com/profile/tylerchilds/" target="_blank">Codeeval</a>
    </div>
    <div class="column--light">Tyler Childs &copy;2009-2016</div>
  </div>
</footer>
