{% extends '../../includes/layout.html' %}

{% block title %}Tyler Childs | Projects - Vanilla HTML{% endblock %}

{% block projects %}class="active"{% endblock %}

{% block content %}
	<div class="page" id="vanilla">
		<div class="mosaic-row center collapse-767 button-container">
      <div class="cell cell-5 middle">
        <a href="demo.html" class="button">View Demo</a>
      </div>
      <div class="cell cell-5 middle">
        <a href="https://github.com/tylerchilds/vanilla-html" class="button" target="_blank">Fork on Github</a>
      </div>
    </div>


		<div class="readme" data-src="/tylerchilds/Vanilla-HTML"></div>


    <div class="mosaic-row center collapse-767 button-container">
      <div class="cell cell-5 middle">
        <a href="demo.html" class="button">View Demo</a>
      </div>
      <div class="cell cell-5 middle">
        <a href="https://github.com/tylerchilds/vanilla-html" class="button" target="_blank">Fork on Github</a>
      </div>
    </div>
	</div>
{% endblock %}