html{
	height: 100%;
}

body{
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 100%;

	@media screen and (min-width: 960px){
		padding-top: 66px;
	}
}

header{
	background-color: $blue;
	color: #fff;
	padding: 13px;
	line-height: 40px;
	overflow: hidden;
	text-align: right;

	@media screen and (min-width: 768px){
		padding: 13px 21px;
	}

	@media screen and (min-width: 960px){
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 2;
	}

	h1{
		float: left;
		font-size: 24px;
		padding-right: 13px;
		padding-bottom: 0;
		line-height: 40px;

		@media screen and (min-width: 768px){
			padding-right: 21px;
		}

		img{
			float: left;
			padding-right: 13px;
			padding-bottom: 0;
			height: 40px;
		}
	}

	.tagline{
		display: none;
		float: left;
		padding-top: 0;
		padding-bottom: 0;
		font-family: $body;
		font-weight: normal;
		font-size: $font-size +3;
		line-height: 40px;
		margin-right: 21px;

		@media screen and (min-width: 960px){
			display: inline-block;
		}
	}

	nav{
		letter-spacing: 2px;
		text-transform: uppercase;
		display: inline-block;
		margin: 0 auto;
		clear: both;

		@media screen and (min-width: 768px){
			float: right;
			display: block;
			clear: none;
		}

		a{
			padding: 5px 8px;
			border-radius: 2px;

			@media screen and (min-width: 768px){
				padding: 34px 13px;
			}
		}


	}

	a:link{
		color: $white;
		text-decoration: none;
	}

	a:visited{
		color: $white;
	}

	a:hover,
	a:focus{
		color: $gray5;
	}

	a:active{
		color: $white;
	}
}

.site-sub-nav{
	background-color: $gray6;
	border-bottom: 1px solid $gray5;
	padding: 8px 13px;

	a{
		display: inline-block;
		padding: 0 8px;
	}
}

.hero{
  height: 300px;
  background: url('/img/branding/self.jpg') no-repeat 5% bottom;
  position: relative;
  z-index: 1;
  box-shadow: 0 -1px 1px 0 rgba(0,0,0,.25) inset;

  @media screen and (max-width: 767px){
  	background: url('/img/branding/shirt.jpg') no-repeat center bottom;

  	.cell{
  		text-align: center !important;
  	}
  }

	@media screen and (max-width: 767px){
	  &:after{
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 1;
	    background-color: rgba(255,255,255,.75);
	    content: '';
	  }
	}

  *{
    position: relative;
    z-index: 2;
    color: $gray1;
  }

  p{
    font-size: 1.8rem;
  }
}

.wrapper{
	padding: 34px 21px;

	@media screen and (min-width: 768px){
		padding: 55px 34px;
	}
}

.page{
	max-width: 960px;
	margin: 0 auto;
}

.readme{
	margin-bottom: 30px;
}

.button-container{
	.cell{
    padding: 0 10px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px){
      padding: 0 20px 20px;
    }
  }
  .button{
	  display: block;
	  padding: 13px;
	}
}

.button{
  display: inline-block;
  padding: 13px 34px;
  background-color: $orange;
  font-size: 1.4rem;

  &:link, &:visited, &:hover, &:focus{
  	text-decoration: none;
    color: #fff;
  }

  &:hover{
    background-color: darken($orange, 2%);
  }
}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

@media print{
  .tagline,
  nav,
  h1 img,
  footer,
  .hero,
  .button-container{
    display: none;
  }

  html{
    height: auto;
  }

  body{
    min-height: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .wrapper{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

}
