body{
	overflow-x: hidden;
	@media screen and (min-width: 960px){
		padding-top: 2rem;
	}
}

header{
	background-color: $primary;
	color: #fff;
	font-size: $font-size--small;
	padding: 1.2rem;
	overflow: hidden;
	text-align: right;

	@media screen and (min-width: 768px){
		padding: 1.2rem 2.4rem;
	}

	@media screen and (min-width: 960px){
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: $z_index-2;
	}

	h1{
		float: left;
		font-size: 2rem;
		padding-bottom: 0;
		padding: 0 1.2rem 0 40px;
		position: relative;
		line-height: 2.4rem;
		font-weight: 600;

		img{

			padding-right: 1.2rem;
			padding-bottom: 0;
			height: 34px;
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -17px;;
		}
	}

	.tagline{
		display: none;
		float: left;
		padding-top: 0;
		padding-bottom: 0;
		line-height: 2.4rem;
		font-family: $body;
		font-weight: normal;
		font-size: $font-size--small;
		margin-right: 2.4rem;

		@media screen and (min-width: 960px){
			display: inline-block;
		}
	}

	nav{
		letter-spacing: 2px;
		text-transform: uppercase;
		display: inline-block;

		a{
			padding: 0 1.2rem;
			display: inline-block;
		}


	}

	a:link{
		color: $white;
		text-decoration: none;
	}

	a:visited{
		color: $white;
	}

	a:hover,
	a:focus{
		color: $gray5;
	}

	a:active{
		color: $white;
	}
}

.site-sub-nav{
	background-color: $gray6;
	border-bottom: 1px solid $gray5;
	padding: 1.2rem;
	font-size: $font-size--small;
	margin-bottom: -1px;

	a{
		display: inline-block;
		padding: 0 8px;
	}
}

.hero{
  height: 24rem;
  background: url('/img/branding/shirt.jpg') no-repeat center bottom;
	box-sizing: border-box;
  position: relative;
  z-index: 1;
  box-shadow: 0 -1px 1px 0 rgba(0,0,0,.25) inset;
	align-items: center;
	text-align: center;

  &:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(255,255,255,.75);
    content: '';
  }

  *{
    position: relative;
    z-index: 2;
  }
}
footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
