@import"../_includes/bower_components/cutestrap/dist/scss/variables";

$primary: #216a9e;
$primary-dark: darken($primary, 10%);
$primary-light: lighten($primary, 10%);

$orange: #D15017;

$red: red;
$green: green;
$yellow: yellow;

$purple: purple;

$base-font: "Source Sans Pro", Verdana, Geneva, sans-serif;
$monospace-font: "PT Mono", monospace;

$heading: "PT Sans", Futura, "Trebuchet MS", Arial, sans-serif;
