@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Source+Sans+Pro:400,400i,600');


* {
  /* Sets our Baseline Grid */
  --rhythm: 2rem;

  /* Sets font-size relative to rhythm */
  --line-height-ratio: 1.5;
}

/* Theme Specific Styles */

html {
  --color-primary-shade1: hsl(200, 80%, 60%);
  --color-primary: hsl(200, 80%, 45%);
  --color-primary-tint1: hsl(200, 80%, 35%);
  --color-accent-shade1: hsl(50, 80%, 60%);
  --color-accent: hsl(50, 80%, 45%);
  --color-accent-tint1: hsl(50, 80%, 35%);
  --font-family: "Source Sans Pro", Verdana, Geneva, sans-serif;
}

body {
  background: hsl(50, 50%, 95%);
  color: hsl(200, 50%, 30%);
}

h2,
h3 {
  --rhythm: 1rem;
}

/* Layout Specific Styles */

body{
  padding: var(--rhythm) var(--rhythm-half);
  margin: 0 auto;
  max-width: 65rem;
}

.header {
  text-align: center;
}

.header h1 {
  margin-bottom: var(--rhythm);
}

.navigation {
  text-align: center;
}

.navigation ul {
  display: flex;
  list-style-type: none;
  margin-left: 0;
  justify-content: center;
}

.navigation li {
  padding: 0 var(--rhythm-half);
}


