.person{
  border: 1px solid #eee;
  border-top: none;
  border-bottom-color: #ddd;
  margin-bottom: 0;
  padding: 3px 10px;
}

.person:first-child{
  border-top: 1px solid #eee;
}

.people-list{
  margin-bottom: 20px;
}

.remove-name{
  float: right;
  color: #ccc;
}

.remove-name:hover{
  color: #999;
  cursor: pointer;
}

@media print{
  .groups{
    width: 100% !important;
  }

  .group{
    page-break-inside: avoid !important;
  }
}