html{
  font-size: 100%;
}

body{
  padding-top: 0;
}

.blend{
  -moz-mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
  mix-blend-mode: multiply;
  opacity: .5;
}

.lead-in{
  background-color: $primary;
  color: $gray1;
  cursor: default;
  height: 100%;
  position: relative;
  overflow: hidden;
  user-select: none;
  -moz-animation: bg-pulse 60s infinite;
  -webkit-animation: bg-pulse 60s infinite;
  animation: bg-pulse 60s infinite;
}

.lead-in__copy{
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.lead-in__copy:before{
  bottom: 2.4rem;
  content: attr(data-content);
  display: block;
  font-family: $heading;
  font-size: 20vw;
  line-height: 1;
  right: 0;
  opacity: .5;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  -moz-mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
  -moz-mix-blend-mode: multiply;
  mix-blend-mode: multiply;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  white-space: nowrap;
  width: 0;
}

.lead-in--header{
  color: $white;
  display: block;
  left: 0;
  font-size: 2.4rem;
  height: auto;
  padding: 1.2rem 2.4rem;
  position: fixed;
  text-align: left;
  top: 0;
  right: 0;
}

.lead-in--header:before{
  content: "Example";
  opacity: .75;
}

.lead-in--header:after{
  content: attr(data-content);
  opacity: .75;
}

.slides{
  display: none;
}

.slide{
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.slide > * {
  align-self: center;
  box-sizing: border-box;
  position: relative;
  z-index: $z_index-1;
}

.slide ul,
.slide ol{
  display: inline-block;
  text-align: left;
}

.slide pre{
  margin: 70px 0 0;
}

.slide td code{
  white-space: nowrap;
}

.slide td{
  font-size: 1.4rem;
}

.title--muted{
  color: $gray3;
  padding-bottom: 0;
}

.slide--title{
  color: $white;
  text-align: center;
  -webkit-animation: bg-pulse 60s infinite;
  -moz-animation: bg-pulse 60s infinite;
  animation: bg-pulse 60s infinite;
}

.slide--split:before{
  background-color: $primary;
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
}

.slide--split__title{
  color: $white;
  text-align: center;
}

@-webkit-keyframes bg-pulse {
  0% {background-color: $primary;}
  15% {background-color: $primary;}
  20% {background-color: adjust_color($primary, $hue: 72);}
  35% {background-color: adjust_color($primary, $hue: 72);}
  40% {background-color: adjust_color($primary, $hue: 144);}
  55% {background-color: adjust_color($primary, $hue: 144);}
  60% {background-color: adjust_color($primary, $hue: 288);}
  75% {background-color: adjust_color($primary, $hue: 288);}
  80% {background-color: adjust_color($primary, $hue: 180);}
  95% {background-color: adjust_color($primary, $hue: 180);}
  100% {background-color: $primary;}
}

@-moz-keyframes bg-pulse {
  0% {background-color: $primary;}
  15% {background-color: $primary;}
  20% {background-color: adjust_color($primary, $hue: 72);}
  35% {background-color: adjust_color($primary, $hue: 72);}
  40% {background-color: adjust_color($primary, $hue: 144);}
  55% {background-color: adjust_color($primary, $hue: 144);}
  60% {background-color: adjust_color($primary, $hue: 288);}
  75% {background-color: adjust_color($primary, $hue: 288);}
  80% {background-color: adjust_color($primary, $hue: 180);}
  95% {background-color: adjust_color($primary, $hue: 180);}
  100% {background-color: $primary;}
}

@keyframes bg-pulse {
  0% {background-color: $primary;}
  15% {background-color: $primary;}
  20% {background-color: adjust_color($primary, $hue: 72);}
  35% {background-color: adjust_color($primary, $hue: 72);}
  40% {background-color: adjust_color($primary, $hue: 144);}
  55% {background-color: adjust_color($primary, $hue: 144);}
  60% {background-color: adjust_color($primary, $hue: 288);}
  75% {background-color: adjust_color($primary, $hue: 288);}
  80% {background-color: adjust_color($primary, $hue: 180);}
  95% {background-color: adjust_color($primary, $hue: 180);}
  100% {background-color: $primary;}
}

/*

Examples!

*/

.example--css-basics{
  h3{
    color: #f00;
  }

  p{ letter-spacing: 5px }

  #some-id{ font-style: italic; }

  .some-class{ border-top: 1px solid #0f0; }
}

.example--css-hover{
  .hidden{
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    transition-duration: 2s;
  }

  .hoverable:hover .hidden{
    opacity: 1;
  }
}

.example--css-tabs{
  label{
    color: $link;
    cursor: pointer;
    display: inline;
    text-decoration: underline;
  }

  .tab-content,
  [name="tabs"]{
    display: none;
  }

  [name="tabs"]:checked + .tab-content{
    display: block;
  }
}

.example--css-and-js-tabs{

  .tab-content{
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    transform: translate(0, 100px);
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
  }

  .tab-content.active{
    height: auto;
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }

}
