---
---

@import "variables";

body{
  padding-top: 0;
}

.blend{
  mix-blend-mode: multiply;
  opacity: .5;
}

.lead-in{
  background-color: $primary;
  cursor: default;
  height: 100%;
  position: relative;
  user-select: none;
  -webkit-animation: bg-pulse 60s infinite;

  &:before{
    bottom: 0;
    color: $gray1;
    content: attr(data-content);
    display: block;
    font-size: 4rem;
    left: 0;
    height: 100vh;
    line-height: 1;
    margin: auto;
    mix-blend-mode: multiply;
    opacity: .5;
    position: absolute;
    right: 0;
    text-align: center;
    transform: rotate(270deg);
    top: 0;
    white-space: nowrap;
    width: 100vw;
  }
}

.slides{
  display: none;
}

.slide{
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.slide > * {
  align-self: center;
  box-sizing: border-box;
  position: relative;
  z-index: $z_index-1;
}

.slide ul{
  display: inline-block;;
  text-align: left;
}

.slide--title{
  color: $white;
  text-align: center;
  -webkit-animation: bg-pulse 60s infinite;
}

.slide--split:before{
  background-color: $primary;
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
}

.slide--split__title{
  color: $white;
  text-align: center;
}

@-webkit-keyframes bg-pulse {
  0% {background-color: $primary;}
  15% {background-color: $primary;}
  20% {background-color: adjust_color($primary, $hue: 72);}
  35% {background-color: adjust_color($primary, $hue: 72);}
  40% {background-color: adjust_color($primary, $hue: 144);}
  55% {background-color: adjust_color($primary, $hue: 144);}
  60% {background-color: adjust_color($primary, $hue: 288);}
  75% {background-color: adjust_color($primary, $hue: 288);}
  80% {background-color: adjust_color($primary, $hue: 180);}
  95% {background-color: adjust_color($primary, $hue: 180);}
  100% {background-color: $primary;}
}
