---
layout: blank
title: "CSS and JavaScript: Knowing your toolkit"
permalink: /presentations/frontend-toolkit/
description: A really super simple group generator
css: slideshow.css
js: slideshow.js
---

<main id="app-container"></main>

<div id="js-slides" class="slides">
    <!-- js-slides will be removed on app initialization -->
    <section class="slide--title">
        <div>
            <h1>CSS and JavaScript</h1>
            <p class="fw-light fs-large blend"><em>Knowing Your Toolkit</em></p>
        </div>
    </section>


    <section class="slide--title">
        <div class="column--heavy">
            <div class="wrapper">
                <h2>Overview</h2>
                <ol>
                    <li>The basic usage of each: HTML, CSS, and JavaScript</li>
                    <li>Knowing when to use CSS or JavaScript</li>
                </ol>
            </div>
        </div>
    </section>


    <section class="slide--title">
        <div>
            <h3>
                Hy·per·Text Mark·up Lan·guage
            </h3>
            <p class="fw-light blend">
            /ˈhīpərˌtekst ˈmärˌkəp ˈlaNGɡwij/
            </p>
        </div>
    </section>


    <section>
        <div class="column--light lead-in">
            <div class="lead-in__copy" data-content="HTML: HyperText Markup Language"></div>
        </div>
        <div class="column--heavy">
            <div class="wrapper">
                <h1 class="title--muted">Car Analogy:</h1>
                <h3>What components are needed to build a car?</h3>
            </div>
        </div>
    </section>


    <section>
        <div class="column--light lead-in">
            <div class="lead-in__copy" data-content="HTML: HyperText Markup Language"></div>
        </div>
        <div class="column--heavy">
            <div class="wrapper">
                <h3>What components are on a webpage?</h3>
                <p>
                In an web page (HTML document) every element (aka: tag) is an object that lives in the Document Object Model (DOM).
                </p>
            </div>
        </div>
    </section>


    <section>
        <div class="column--light lead-in">
            <div class="lead-in__copy" data-content="HTML: HyperText Markup Language"></div>
        </div>
        <div class="column--heavy">
            <div class="wrapper">
                <h3>HTML: Content Structure</h3>
                <ul>
                    <li>Hierarchy</li>
                    <li>Classification and Grouping</li>
                </ul>
            </div>
        </div>
    </section>


    <section class="wrapper">
        <div>
            <div class="lead-in lead-in--header" data-content=": HTML"></div>
            <pre><xmp><h3>Welcome!</h3>
<p>We've got awesome content:</p>
<ul>
  <li><a href="#">Click Bait Title</a></li>
  <li><a href="#">Clearly a virus</a></li>
            </ul></xmp></pre>
        </div>
        <div class="example--html-basics">
            <h3>Welcome!</h3>
            <p>We've got awesome content:</p>
            <ul>
                <li><a href="#">Click Bait Title</a></li>
                <li><a href="#">Clearly a virus</a></li>
            </ul>
        </div>
    </section>


    <section>
        <div class="column--light lead-in">
            <div class="lead-in__copy" data-content="HTML: HyperText Markup Language"></div>
        </div>
        <div class="column--heavy">
            <div class="wrapper">
                <h3>Common HTML Elements</h3>
                <table>
                    <tr>
                        <th>Tag</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td><code>&lt;header&gt;</code></td>
                        <td>The header section of the webpage</td>
                    </tr>
                    <tr>
                        <td><code>&lt;h1&gt;</code></td>
                        <td>Most important heading</td>
                    </tr>
                    <tr>
                        <td><code>&lt;p&gt;</code></td>
                        <td>Paragraph</td>
                    </tr>
                    <tr>
                        <td><code>&lt;ul&gt;</code></td>
                        <td>Unordered list</td>
                    </tr>
                    <tr>
                        <td><code>&lt;li&gt;</code></td>
                        <td>List item</td>
                    </tr>
                    <tr>
                        <td><code>&lt;img&gt;</code></td>
                        <td>Image, requires a source (<code>src</code>) attribute</td>
                    </tr>
                    <tr>
                        <td><code>&lt;a&gt;</code></td>
                        <td>Link, requires a hypertext reference (<code>href</code>) attribute</td>
                    </tr>
                    <tr>
                        <td><code>&lt;div&gt;</code></td>
                        <td>Generic block element</td>
                    </tr>
                    <tr>
                        <td><code>&lt;span&gt;</code></td>
                        <td>Generic inline element</td>
                    </tr>
                </table>

                Additional Resources:<br />
                <a href="https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model/Introduction" target="_blank">DOM Introduction</a> |
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element" target="_blank">HTML element reference</a>
            </div>
        </div>
    </section>


    <section class="slide--title">
        <div>
            <h3>
                Cas·cad·ing Style Sheet
            </h3>
            <p class="fw-light blend">
            <em>/kaˈskādiNG stīl SHēt/</em>
            </p>
        </div>
    </section>


    <section>
        <div class="column--light lead-in">
            <div class="lead-in__copy" data-content="CSS: Cascading Style Sheet"></div>
        </div>
        <div class="column--heavy">
            <div class="wrapper">
                <h1 class="title--muted">Car Analogy:</h1>
                <h3>What attributes belong to the components of our car?</h3>
            </div>
        </div>
    </section>


    <section>
        <div class="column--light lead-in">
            <div class="lead-in__copy" data-content="CSS: Cascading Style Sheet"></div>
        </div>
        <div class="column--heavy">
            <div class="wrapper">
                <h3>What attributes belong to our web components?</h3>
                <p>
                In CSS, these attributes are called properties.
                </p>
            </div>
        </div>
    </section>


    <section>
        <div class="column--light lead-in">
            <div class="lead-in__copy" data-content="CSS: Cascading Style Sheet"></div>
        </div>
        <div class="column--heavy">
            <div class="wrapper">
                <h3>CSS: User Interface</h3>
                <ul>
                    <li>Layout and Positioning</li>
                    <li>Design and Styles</li>
                </ul>
            </div>
        </div>
    </section>


    <section class="wrapper">
        <div>
            <div class="lead-in lead-in--header" data-content=": HTML &amp; CSS"></div>
            <pre><xmp><h3>Header</h3>
<p id="subtitle">Subtitle</p>
<p class="special">Paragraph</p>
<p class="special">Another paragraph</p>

h3{ color: #f00; }

p{ letter-spacing: 5px }

#subtitle{ font-style: italic; }

.special{ border-top: 1px solid #0f0; }
            </xmp></pre>
        </div>
        <div class="example--css-basics">
            <h3>Header</h3>
            <p id="some-id">Subtitle</p>
            <p class="some-class">Paragraph</p>
            <p class="some-class">Another paragraph</p>
        </div>
    </section>


    <section>
        <div class="column--light lead-in">
            <div class="lead-in__copy" data-content="CSS: Cascading Style Sheet"></div>
        </div>
        <div class="column--heavy">
            <div class="wrapper">
                <h3>Useful CSS Selectors</h3>
                <table>
                    <tr>
                        <th>Selector</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td><code>x</code></td>
                        <td>HTML Tag, such as <code>p</code>, <code>header</code>, <code>h3</code>, etc.</td>
                    </tr>
                    <tr>
                        <td><code>x y</code></td>
                        <td>Descendent</td>
                    </tr>
                    <tr>
                        <td><code>.x</code></td>
                        <td>Class</td>
                    </tr>
                    <tr>
                        <td><code>#x</code></td>
                        <td>ID</td>
                    </tr>
                    <tr>
                        <td><code>[x]</code></td>
                        <td>Attribute</td>
                    </tr>
                    <tr>
                        <td><code>[x="y"]</code></td>
                        <td>Attribute with value</td>
                    </tr>
                    <tr>
                        <td><code>::before</code></td>
                        <td>Pseudo Element</td>
                    </tr>
                    <tr>
                        <td><code>:hover</code></td>
                        <td>Pseudo Class</td>
                    </tr>
                    <tr>
                        <td><code>x + y</code></td>
                        <td>Immediate sibling</td>
                    </tr>
                </table>

                Additional Resource: <a href="http://code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048" target="_blank">30 CSS Selectors You Must Memorize</a>
            </div>
        </div>
    </section>


    <section>
        <div class="column--light lead-in">
            <div class="lead-in__copy" data-content="CSS: Cascading Style Sheet"></div>
        </div>
        <div class="column--heavy">
            <div class="wrapper">
                <h3>Useful CSS Properties</h3>
                <table>
                    <tr>
                        <th>Property</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td><code>text-align</code></td>
                        <td>Alignment of text; cascades</td>
                    </tr>
                    <tr>
                        <td><code>font-size</code></td>
                        <td>Size of text; cascades</td>
                    </tr>
                    <tr>
                        <td><code>display</code></td>
                        <td>How an element renders, if at all (ex. block, inline, none)</td>
                    </tr>
                    <tr>
                        <td><code>color</code></td>
                        <td>Text color; cascades</td>
                    </tr>
                    <tr>
                        <td><code>background-color</code></td>
                        <td>Background color</td>
                    </tr>
                    <tr>
                        <td><code>padding</code></td>
                        <td>Space around an element</td>
                    </tr>
                    <tr>
                        <td><code>margin</code></td>
                        <td>Space against other elements</td>
                    </tr>
                </table>

                Additional Resources:<br/>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Introduction_to_the_CSS_box_model" target="_blank">Box Model</a> |
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference" target="_blank">CSS Reference</a>
            </div>
        </div>
    </section>


    <section class="slide--title">
        <div>
            <h3>
                Ja·va·Script
            </h3>
            <p class="fw-light blend">
            <em>/ˈjävəskript,ˈjavə-/</em>
            </p>
        </div>
    </section>


    <section>
        <div class="column--light lead-in">
            <div class="lead-in__copy" data-content="JS: JavaScript"></div>
        </div>
        <div class="column--heavy">
            <div class="wrapper">
                <h1 class="title--muted">Car Analogy:</h1>
                <h3>What actions can we perform on our car?</h3>
            </div>
        </div>
    </section>


    <section>
        <div class="column--light lead-in">
            <div class="lead-in__copy" data-content="JS: JavaScript"></div>
        </div>
        <div class="column--heavy">
            <div class="wrapper">
                <h3>What actions can we take on our web page?</h3>
                <p>
                In JavaScript, these actions are called events. In our JavaScript, we can listen to these events to execute code in response.
                </p>
            </div>
        </div>
    </section>


    <section>
        <div class="column--light lead-in">
            <div class="lead-in__copy" data-content="JS: JavaScript"></div>
        </div>
        <div class="column--heavy">
            <div class="wrapper">
                <h3>JS: User Experience</h3>
                <ul>
                    <li>User Interaction</li>
                    <li>Event Handling</li>
                    <li>External Communication</li>
                </ul>
            </div>
        </div>
    </section>


    <section class="wrapper" data-invoke="js_coin_toss_no_jquery">
        <div>
            <div class="lead-in lead-in--header" data-content=": HTML &amp; JavaScript"></div>
            <pre><xmp>// HTML
<h3>Coin Toss:</h3>
<p id="result">...</p>
<button id="coin-toss-button">Toss Coin</button>

// Javascript
var button = document.getElementById('coin-toss-button');
var result = document.getElementById('result');

button.addEventListener('click', function(){
  result.textContent = Date.now() % 2 ? 'heads' : 'tails';
});</xmp></pre>
        </div>
        <div class="example--js-cointoss">
            <h3>Coin Toss:</h3>
            <p id="result">...</p>
            <button id="coin-toss-button">Toss Coin</button>
        </div>
    </section>


    <section>
        <div class="column--light lead-in">
            <div class="lead-in__copy lead-in__copy--js" data-content="JS: JavaScript"></div>
        </div>
        <div class="column--heavy">
            <div class="wrapper">
                <h3>Remedial jQuery (aka: $)</h3>
                <p>
                jQuery is a JavaScript library that allows you to use CSS selectors in your Javascript. <em>(It also can do a lot more, but that's a whole other presentation).</em>
                </p>
                <p>
                <code>jQuery</code> is aliased as <code>$</code>, so you can use either one, but <code>$</code> is shorter and easier to follow, so it's pretty rare to see just <code>jQuery</code>.
                </p>
            </div>
        </div>
    </section>


    <section class="wrapper" data-invoke="js_coin_toss">
        <div>
            <div class="lead-in lead-in--header" data-content=": HTML &amp; JavaScript w/ jQuery"></div>
            <pre><xmp>// HTML
<h3>Coin Toss:</h3>
<p id="result">...</p>
<button id="coin-toss-button">Toss Coin</button>

// JavaScript with jQuery
$('#coin-toss-button').on('click', function(){
  $('#result').text(Date.now() % 2 ? 'heads' : 'tails');
});</xmp></pre>
        </div>
        <div class="example--js-cointoss">
            <h3>Coin Toss:</h3>
            <p id="result">...</p>
            <button id="coin-toss-button">Toss Coin</button>
        </div>
    </section>


    <section>
        <div class="column--light lead-in">
            <div class="lead-in__copy" data-content="JS: JavaScript"></div>
        </div>
        <div class="column--heavy">
            <div class="wrapper">
                <h3>Useful jQuery Methods</h3>
                <table>
                    <tr>
                        <th>Function</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td><code>$( selector )</code></td>
                        <td>Get chainable jQuery object</td>
                    </tr>
                    <tr>
                        <td><code>.on()</code></td>
                        <td>Listen to events (ex. click, hover, mouseover)</td>
                    </tr>
                    <tr>
                        <td><code>.data()</code></td>
                        <td>Get/set data attributes</td>
                    </tr>
                    <tr>
                        <td><code>.text()</code></td>
                        <td>Get/set text content</td>
                    </tr>
                    <tr>
                        <td><code>.html()</code></td>
                        <td>Get/set html content</td>
                    </tr>
                    <tr>
                        <td><code>.hide()</code></td>
                        <td>Hide elements</td>
                    </tr>
                    <tr>
                        <td><code>.show()</code></td>
                        <td>Show elements</td>
                    </tr>
                    <tr>
                        <td><code>.animate()</code></td>
                        <td>Animate elements</td>
                    </tr>
                </table>

                Additional Resource: <a href="https://api.jquery.com/" target="_blank">jQuery API</a>
            </div>
        </div>
    </section>


    <section class="slide--title">
        <div>
            <h3>The Law of the instrument</h3>
            <p>
            <em>
                "I suppose it is tempting, if the only tool you have is a hammer,<br> to treat everything as if it were a nail."
            </em>
            </p>
            <p> - Abraham Maslow</p>
        </div>
    </section>


    <section class="wrapper ta-center">
        <div>
            <div class="lead-in lead-in--header" data-content=": Product Feature"></div>
            <h2>Requirements:</h2>
            <ol>
                <li>Show an element's hidden content when hovered.</li>
            </ol>
        </div>
    </section>


    <section class="wrapper" data-invoke="js_hover">
        <div>
            <div class="lead-in lead-in--header" data-content=": HTML &amp; JavaScript"></div>
            <pre><xmp>// HTML
<div class="js-hover">Hello
  <span class="hidden">World!</span>
</div>

// JavaScript
$('.hidden').css('opacity', 0);
$('.js-hover').on('mouseover', function(){
  $('.hidden').stop(true).animate({opacity: 1}, 2000);
}).on('mouseout', function(){
  $('.hidden').stop(true).animate({opacity: 0}, 2000);
});</xmp></pre>
        </div>
        <div class="example--js-hover">
            <div class="js-hover">Hello <span class="hidden">World!</span></div>
        </div>
    </section>


    <section class="slide--title">
        <div>
            <div class="wrapper">
                <h2>Shortcomings</h2>
                <ul>
                    <li>We need to manually handle the animation queue</li>
                    <li>Need to manually set and reset default state</li>
                </ul>
                <p>
                Ultimately, this simple effect belongs in the CSS.
                </p>
            </div>
        </div>
    </section>


    <section class="wrapper">
        <div>
            <div class="lead-in lead-in--header" data-content=": HTML &amp; CSS"></div>
            <pre><xmp>// HTML
<div class="hoverable">Hello
  <span class="hidden">World!</span>
</div>

// CSS
.hidden{
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
}

.hoverable:hover .hidden{
  opacity: 1;
}
            </xmp></pre>
        </div>
        <div class="example--css-hover">
            <div class="hoverable">Hello <span class="hidden">World!</span></div>
        </div>
    </section>


    <section class="slide--title">
        <div>
            <div class="wrapper">
                <h2>Why is this better?</h2>
                <ul>
                    <li>Simpler Code</li>
                    <li>Easy to maintain in the CSS</li>
                    <li>No animation queue</li>
                </ul>
            </div>
        </div>
    </section>


    <section class="wrapper ta-center">
        <div>
            <div class="lead-in lead-in--header" data-content=": Product Feature"></div>
            <h2>Requirements:</h2>
            <ol>
                <li>Create tabs to show and hide content.</li>
            </ol>
        </div>
    </section>


    <section class="wrapper ta-center">
        <div>
            <div class="lead-in lead-in--header" data-content=": Product Feature"></div>
            <h2>Design:</h2>
            <a href="javascript:;">1st Tab</a>
            <a href="javascript:;">2nd Tab</a>

            <p>First Content</p>
        </div>
    </section>


    <section class="slide--title">
        <div>
            <h2>JavaScript Implementation</h2>
        </div>
    </section>


    <section class="wrapper">
        <div>
            <div class="lead-in lead-in--header" data-content=": HTML &amp; JavaScript Demo"></div>
            <pre><xmp>// HTML
<a href="javascript:;" class="js-tab" data-tab="content-1">
  1st Tab
</a>
<a href="javascript:;" class="js-tab" data-tab="content-2">
  2nd Tab
</a>

<p class="js-tab-content" id="content-1">First Content</p>
<p class="js-tab-content" id="content-2">Second Content</p></xmp></pre>
        </div>
    </section>


    <section class="wrapper">
        <div>
            <div class="lead-in lead-in--header" data-content=": HTML &amp; JavaScript Demo"></div>
            <pre><xmp> // JavaScript
$('.js-tab-content').not(':first').hide();

$('.js-tab').on('click', function(){
  $('.js-tab-content').hide();

  var content_id = $(this).data('tab');
  $('#' + content_id).show();
});</xmp></pre>
        </div>
    </section>


    <section class="wrapper ta-center" data-invoke="js_tabs">
        <div class="example--js-tabs">
            <div class="lead-in lead-in--header" data-content=": HTML &amp; JavaScript Demo"></div>

            <h3>Javascript Tabs</h3>
            <a href="javascript:;" class="js-tab" data-tab="content-1">1st Tab</a>
            <a href="javascript:;" class="js-tab" data-tab="content-2">2nd Tab</a>

            <p class="js-tab-content" id="content-1">First Content</p>
            <p class="js-tab-content" id="content-2">Second Content</p>
        </div>
    </section>


    <section class="slide--title">
        <div>
            <h2>CSS Implementation</h2>
        </div>
    </section>


    <section class="wrapper">
        <div>
            <div class="lead-in lead-in--header"  data-content=": HTML &amp; CSS Demo"></div>
            <pre><xmp>// HTML
<label for="tab-1">1st Tab</label>
<label for="tab-2">2nd Tab</label>

<input type="radio" id="tab-1" name="tabs" checked>
<p class="tab-content">First Content</p>

<input type="radio" id="tab-2" name="tabs">
<p class="tab-content">Second Content</p></xmp></pre>
        </div>
    </section>


    <section class="wrapper">
        <div>
            <div class="lead-in lead-in--header" data-content=": HTML &amp; CSS Demo"></div>
            <pre><xmp>// CSS
.tab-content,
[name="tabs"]{
  display: none;
}
[name="tabs"]:checked + .tab-content{
  display: block;
}</xmp></pre>
        </div>
    </section>


    <section class="wrapper ta-center" data-invoke="css_tabs">
        <div class="example--css-tabs">
            <div class="lead-in lead-in--header" data-content=": HTML &amp; CSS Demo"></div>

            <h3>CSS Tabs</h3>
            <label for="tab-1">1st Tab</label>
            <label for="tab-2">2nd Tab</label>

            <input type="radio" id="tab-1" name="tabs" checked>
            <p class="tab-content">First Content</p>

            <input type="radio" id="tab-2" name="tabs">
            <p class="tab-content">Second Content</p>
        </div>
    </section>


    <section class="slide--title">
        <div>
            <div class="wrapper">
                <h2>Reflection</h2>
                <p>
                What are the Pros and Cons of each solution?
                </p>
                <p class="fw-light fs-small blend"><em>(Tip: JavaScript is better here.)</em></p>
            </div>
        </div>
    </section>


    <section class="wrapper ta-center">
        <div>
            <div class="lead-in lead-in--header" data-content=": Product Feature"></div>
            <h2>Updated Requirements:</h2>
            <ol>
                <li>Create tabs to show and hide content.</li>
                <li><strong>Animate content on change.</strong></li>
            </ol>
        </div>
    </section>


    <section class="slide--title">
        <div>
            <h2>CSS and Javascript Together</h2>
            <p class="fw-light fs-large blend"><em>Best Friends Forever.</em></p>

            <p class="fw-light fs-small blend"><em>(Also, we're almost done, I swear!)</em></p>
        </div>
    </section>


    <section class="wrapper">
        <div>
            <div class="lead-in lead-in--header" data-content=": HTML, CSS, &amp; JavaScript Demo"></div>
            <pre><xmp>// HTML
<a href="javascript:;" class="js-tab" data-tab="content-1">
  1st Tab
</a>
<a href="javascript:;" class="js-tab" data-tab="content-2">
  2nd Tab
</a>

<p class="tab-content active" id="content-1">First Content</p>
<p class="tab-content" id="content-2">Second Content</p></xmp></pre>
        </div>
    </section>


    <section class="wrapper">
        <div>
            <div class="lead-in lead-in--header" data-content=": HTML, CSS, &amp; JavaScript Demo"></div>
            <pre><xmp>// CSS
.tab-content{
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  transform: translate(0, 100px);
  transition: all 200ms;
}

.tab-content.active{
  height: auto;
  opacity: 1;
  transform: translate(0, 0);
}</xmp></pre>
        </div>
    </section>


    <section class="wrapper">
        <div>
            <div class="lead-in lead-in--header" data-content=": HTML, CSS, &amp; JavaScript Demo"></div>
            <pre><xmp> // JavaScript
$('.js-tab').on('click', function(e){
  $('.tab-content').removeClass('active');

  var content_id = $(this).data('tab');

  $('#' + content_id).addClass('active');
});</xmp></pre>
        </div>
    </section>


    <section class="wrapper ta-center" data-invoke="css_and_js_tabs">
        <div class="example--css-and-js-tabs">
            <div class="lead-in lead-in--header" data-content=": HTML, CSS, &amp; JavaScript Demo"></div>

            <h3>CSS and Javascript Tabs</h3>
            <a href="javascript:;" class="js-tab" data-tab="content-1">1st Tab</a>
            <a href="javascript:;" class="js-tab" data-tab="content-2">2nd Tab</a>

            <p class="tab-content active" id="content-1">First Content</p>
            <p class="tab-content" id="content-2">Second Content</p>
        </div>
    </section>


    <section>
        <div class="column--light lead-in">
            <div class="lead-in__copy" data-content="JS: JavaScript"></div>
        </div>
        <div class="column--heavy">
            <div class="wrapper">
                <h1 class="title--muted">Car Analogy:</h1>
                <h3>Specifically, when you update climate controls, what happens?</h3>
            </div>
        </div>
    </section>


    <section class="slide--title">
        <div>
            <h2>More Advanced Topics!</h2>
            <ul>
                <li>BEM: Structured CSS</li>
                <li>MVV*: JavaScript Model/View Frameworks</li>
                <li>SASS: CSS on Crack</li>
            </ul>
        </div>
    </section>


    <section class="slide--title">
        <div>
            <h2><em>Next Time.</em></h2>
            <p class="fw-light fs-small blend"><em>(It's okay if you were about to get up and leave.)</em></p>
        </div>
    </section>


    <section class="slide--title">
        <div>
            <h1><em>Questions?</em></h1>
            <p>
            <em>
                I don't bite.
            </em>
            </p>
        </div>
    </section>


    <section class="slide--title">
        <div>
            <h1><em>Fin.</em></h1>
            <p>
            <em>
                "If you can dream it, you can do it."
            </em>
            </p>
            <p> - Walt Disney</p>
        </div>
    </section>
</div>

<script>
    {% include bower_components/jquery/dist/jquery.min.js %}
    {% include bower_components/underscore/underscore-min.js %}
    {% include bower_components/backbone/backbone-min.js %}
    {% include bower_components/backbone.marionette/lib/backbone.marionette.min.js %}
</script>
