header{
	background-color: $blue;
	color: #fff;
	padding: 13px;
	line-height: 40px;
	overflow: hidden;

	@media screen and (min-width: 768px){
		padding: 13px 21px;
	}

	h1{
		float: left;
		font-size: 24px;
		padding-right: 13px;
		padding-bottom: 0;

		@media screen and (min-width: 768px){
			padding-right: 21px;
		}

		img{
			float: left;
			padding-right: 13px;
			padding-bottom: 0;
			height: 40px;
		}
	}

	.tagline{
		display: none;
		float: left;
		padding-bottom: 0;

		@media screen and (min-width: 800px){
			display: inline-block;
		}
	}

	nav{
		letter-spacing: 2px;
		text-transform: uppercase;
		display: table;
		margin: 0 auto;
		clear: both;

		a{
			padding-right: 13px;

			@media screen and (min-width: 768px){
				padding-right: 21px;
			}

			&:last-child{
				padding-right: 0px;
			}
		}

		@media screen and (min-width: 768px){
			float: right;
			display: block;
			clear: none;
		}
	}

	a:link{
		color: $white;
		text-decoration: none;
	}

	a:visited{
		color: $white;
	}

	a:hover,
	a:focus{
		color: $gray5;
	}

	a:active{
		color: $white;
	}
}

#wrapper{
	padding: 34px 21px;

	@media screen and (min-width: 768px){
		padding: 55px 34px;
	}
}

.page{
	max-width: 960px;
	margin: 0 auto;
}