@import url('http://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,300');

$heading: "PT Sans", Futura, "Trebuchet MS", Arial, sans-serif;
$body: "Open Sans", Verdana, Geneva, sans-serif;

body{
	font-family: $body;
	font-size: 18px;

	@media (min-width: 768px){
		font-size: 26px;
	}
}

h1{
	font-family: $heading;
	font-weight: bold;
	font-size: 55px;
	margin-bottom: 34px;

	@media (min-width: 768px){
		font-size: 89px;
	}
}