{% extends '../../includes/layout.html' %}

{% block title %}Tyler Childs | Personal{% endblock %}

{% block personal %}class="active"{% endblock %}

{% block content %}
	<div class="page" id="personal">
		<h2>All work and no play makes Jack a dull boy</h2>
		<p>
			I don't believe that people should be defined by what they do for a living. I'm more than a web developer or graphic designer and you're more than what you do for work too.
		</p>
		<p>
			Beauty is more than skin deep and people are more than a title on a business card. We are more than records in a contact list and we are more than simply another addition to someone's insatiable list of friends on <a href="http://www.facebook.com/thetylerchilds" title="Add Me">facebook</a>.
		</p>

		<h3>I am more than meets the eye</h3>
		<p>
			You should check out the other things I enjoy doing. I'll have more content here when I get around to it, but for now, there are a few links to some my social networks in the footer.
		</p>
	</div>
{% endblock %}