{% extends '../../includes/layout.html' %}

{% block title %}Tyler Childs | Bingo{% endblock %}

{% block projects %}class="active"{% endblock %}

{% block css %}
  {% parent %}
  <link rel="stylesheet" href="/css/bingo.css">
{% endblock %}

{% block hero-text %}
  <h2>Baseball Tee Bingo</h2>
  <p>"It's going down, I'm yelling Bingo." - Ke$ha</p>
{% endblock %}

{% block content %}
	<div class="page" id="mosaic">
    <div class="mosaic-row center stack-767 button-container">
      <div class="cell cell-4 middle">
        <a href="javascript:;" class="js-print button">Print Board</a>
      </div>
      <div class="cell cell-4 middle">
        <a href="https://www.facebook.com/bbt.bingo" class="button" target="_blank">Shirt Feed</a>
      </div>
    </div>

    <div class="mosaic-row stack-767 center">
      <div class="cell cell-10">
        <div class="bingo-board mosaic-row">
        </div>
      </div>
    </div>
	</div><!-- ending the #mosaic.page -->
{% endblock %}

{% block scripts %}
  {% parent %}
  <script src="/js/pages/bingo.js"></script>
{% endblock %}